
<footer class="footer">

	<div class="layout layout-x ">
		<div class="layout layout-s">
			<div class="footer__wrap">
				<p>© 2008–2019 Дмитрий Ковпак & DreamerAcademy</p>
				{{>f-socio/f-socio}}
			</div>
			<div class="footer__wrap">
				<ul class="footer__list">
					<li><a  href="https://dimakovpak.ru/terms/" target="_blank" rel='noreferrer'>Условия оказания услуг</a></li>
					<li><a  href="https://dimakovpak.ru/terms/#cancel" target="_blank" rel='noreferrer'>Условия возврата</a></li>
					<li><a  href="https://dimakovpak.ru/privacy/" target="_blank" rel='noreferrer'>Политика конфиденциальности</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>

<!-- ppp -->
<div class="ppp ">
	<div class="ppp__shadow"></div>
	<div class="ppp__content" id="register">
		<button class="btn-close js-close"></button>
			<h2  role="heading" aria-level="2">Оставляй заявку <br><mark>и мы вам перезвоним</mark></h2>
			<form action="/" method="post" class="pref__form js-validate" id='ppp__form'>
				<fieldset class="pref__fieldset">
					<label for="name">Ваше имя:</label>
					<input class="name firstname" type="text" name="name" id="name" placeholder="Имя">
				</fieldset>
				<fieldset class="pref__fieldset">
					<label for="email">Ваше номер email:</label>
					<input class="email " type="email" name="email" id="email" placeholder="Email" required="">
				</fieldset>
				<fieldset class="pref__fieldset">
					<label for="phone">Ваше номер телефона:</label>
					<input class="phone tel" type="tel" name="phone" id="phone" placeholder="Номер телефона" required="">
				</fieldset>

				<fieldset class="pref__fieldset">
					<button class="btn btn-red">Подать заявку</button>
				</fieldset>
			</form>
	</div>
</div>
