
<div class="section benefit" id="benefit">
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Этот воркшоп</span><br><mark>будет полезен тем, кто:</mark></h2>
		<ul class="benefit__list">
			<li>
				<div class="benefit__wrap">
					<img src="static/img/content/b-01.svg" alt="benefit" class="benefit__icon">
					<p>“Застрял” на какой-то задаче и никак не может ее решить</p>
				</div>
			</li>
			<li>
				<div class="benefit__wrap">
					<img src="static/img/content/b-02.svg" alt="benefit" class="benefit__icon">
					<p>Уперся в бетонный потолок</p>
				</div>
			</li>
			<li>
				<div class="benefit__wrap">
					<img src="static/img/content/b-03.svg" alt="benefit" class="benefit__icon">
					<p>Не знает, как вывести бизнес из временного спада</p>
				</div>
			</li>
			<li>
				<div class="benefit__wrap">
					<img src="static/img/content/b-04.svg" alt="benefit" class="benefit__icon">
					<p>Не слышал о новых технологиях работы в бизнесе с Китаем</p>
				</div>
			</li>
		</ul>

		<button class="btn btn-red js-ppp"  data-ppp="register">Принять участие</button>
	</div>
</div>