<div class="section hero" id="hero">
	<div class="section__bg">
		<img src="static/img/content/hero_bg.jpg" alt="autor" class="section__img">
	</div>
	<div class="layout layout-x ">

		<div class="layout layout-s">
			<div class="hero__content">
				<h4  role="heading" aria-level="4">Живой воркшоп в рамках клуба <mark>Х2</mark> </h4>
				<h1  class="title__main" role="heading" aria-level="4">Как вести <br>бизнес с Китаем</h1>
				<p class="desc__y"><mark>в промышленных масштабах</mark></p>
				<p><mark>31 июля 10:00 - 18:00</mark></p>
				<button class="btn btn-red js-ppp"  data-ppp="register">Принять участие</button>
			</div>
			<div class="right-box">
				<div class="right-box__rotate">
				</div>
				{{> socio/socio}}
			</div>

			<div class="hero__footer">
				<h2>Узнай, как</h2>
				<ul class="hero__list">
					<li>
						<div class="hero__pic">
							<img src="static/img/content/h-01.svg" alt="">
						</div>
						<p>Масштабировать</p>
					</li>
					<li>
						<div class="hero__pic">
							<img src="static/img/content/h-02.svg" alt="">
						</div>
						<p>Систематизировать</p>
					</li>
					<li>
						<div class="hero__pic">
							<img src="static/img/content/h-03.svg" alt="">
						</div>
						<p>Автоматизировать</p>
					</li>
				</ul>
				<p>свой бизнес и делать Х2 в нем каждый месяц, не занимаясь<br>операционкой <b>и получи личный разбор твоего бизнеса<br>от Димы Ковпака</b></p>
			</div>
		</div>
	</div>
</div>