<div class="section gallery" id="gallery">
	<div class="section__bg">
		<img src="static/img/content/roof.png" alt="logo" class="section__img">
	</div>
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Фото</span><br>
			<mark>с прошедших мероприятий</mark></h2>
		<ul class="gallery__list">
			<li>
				<div class="gallery__pic">
					<img src="static/img/content/i-01.jpg" alt="">
				</div></li>
			<li>
				<div class="gallery__pic">
					<img src="static/img/content/i-02.jpg" alt="">
				</div></li>
			<li>
				<div class="gallery__pic">
					<img src="static/img/content/i-03.jpg" alt="">
				</div></li>
		</ul>
	</div>
</div>
