
<div class="section place" id="place">
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Место</span><br><mark>проведения встречи</mark></h2>
		<div class="justified">
			<div class="justified__item">
				<div class="justified__content">
					<p>г. Киев</p>
					<p>ул. Пирогова, 6</p>
					<p>тел. +38 (063) 111 11 11</p>
					<div class="takeback">
						<h3>Остались вопросы?</h3>
						<form action="thx.html" method="GET" class="" id="form1">
							<input type="phone" name="phone" placeholder="Телефон" class="fubook takeback__inp" required="">
							<button class="fubook btn btn-red">Свяжитесь со мной</button>

						</form>
					</div>

				</div>
			</div>
			<div class="justified__item">
				<div id="map" ></div>
			</div>
		</div>
	</div>
</div>