<div class="section practic" id="practic">
	<div class="section__bg">
		<img src="static/img/content/tree.png" alt="logo" class="section__img">
	</div>
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Во время практического воркшопа</span><br><mark>от клуба Х2 ты разберешься, как:</mark></h2>
		<ul class="practic__list">
			<li>Систематизировать процессы в своем бизнесе</li>
			<li>Масштабировать свой <br>бизнес</li>
			<li class="no-arrow">Выйти из операционки и заняться стратегическим планированием</li>
		</ul>
		<button class="btn btn-red js-ppp"  data-ppp="register">Принять участие</button>
	</div>
</div>
