
<div class="section participation" id="participation">
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Сколько стоит участие </span><br><mark>в практическом воркшопе</mark></h2>
		<ul class="participation__list">
			<li>
				<img src="static/img/content/p-01.svg" alt="" class="participation__icon">
				<p>Участие в воркшопе</p>
			</li>
			<li>
				<h4>+</h4>
			</li>
			<li>
				<img src="static/img/content/p-02.svg" alt="" class="participation__icon">
				<p>Работа в группах</p>
			</li>
			<li>
				<h4>+</h4>
			</li>
			<li>
				<img src="static/img/content/p-03.svg" alt="" class="participation__icon">
				<p>Возможность получить разбор твоего бизнеса от Димы Ковпака</p>
			</li>
		</ul>
		<h3>3000 руб</h3>
		<button class="btn btn-red js-ppp"  data-ppp="register">принять участие</button>
	</div>
</div>