<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{title}}</title>
<meta content="" name="description">
<meta content="" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta content="telephone=no" name="format-detection">

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

<meta name="HandheldFriendly" content="true">
<link href="static/css/critical%=hash=%%=min=%.css" rel="stylesheet" type="text/css">
<link href="static/css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">

{{#if useSocialMetaTags}}
    <meta property="og:title" content="Живой воркшоп в рамках клуба Х2" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="Как вести бизнес с Китаем в промышленных масштабах" />
    <meta property="og:image" content="static/img/content/ogg.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="380" />
    <meta property="twitter:description" content="Как вести бизнес с Китаем в промышленных масштабах" />
    <link rel="image_src" href="static/img/content/ogg.jpg" />
{{/if}}

<link rel="icon" type="image/png" href="fav.png">

<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>

