
<div class="section youknow" id="youknow">
	<div class="layout layout-x ">
		<h2 class="title__section"><span>Ты узнаешь, как</span><br><mark>масштабировать бизнес через:</mark></span></h2>
		<div class="youknow__wrap">
			<div class="youknow__text">
				<ul class="youknow__list">
					<li>Усиление продукта и формирование продуктовой линейки</li>
					<li><b>Расширение рынка сбыта и каналов продаж</b></li>
					<li>Оптимизацию рекламных источников</li>
					<li><b>Управление и привлечение кадров, которые будут создавать инновации в компании</b></li>
					<li>Сильное партнерство</li>
				</ul>
				<p class="youknow__desc">+ Узнаешь, как распознать людей, с которыми не стоит начинать сотрудничество, чтобы сохранить твое время, деньги и психику.</p>
			</div>
			<div class="youknow__pic">
				<img src="static/img/content/dima-02.jpg" alt="dima">
			</div>
		</div>
	</div>
</div>
