
.socio
	position: absolute
	bottom: 25px
	left: 0
	display: block
	padding: 0
	margin: 0
	list-style: none
	font-size: 0
	+r(1000)
		position: static
		margin-top: 10px
		+trx(-5px)
	li
		display: inline-block
		vertical-align: top
		margin: 0 6px 25px
		+r(1000)
			margin: 0 14px
	a
		display: inline-block
		vertical-align: top
		height: 27px
		width: 25px
		padding: 2px
		border-radius: 2px
		+tr(.4s)
		+r(1000)
			width: 30px
			height: 30px
		&:hover
			background-color: rgba(255, 255, 255, .6)
	img
		display: inline-block
		vertical-align: top
		max-height: 100%


