<ul class="socio">
	<li><a href="http://vk.com/dimakovpak" target="_blank" rel='noreferrer'>
		<img src="static/img/content/vk.svg" alt="socio">
	</a></li>
	<li><a href="https://www.facebook.com/dima.kovpak" target="_blank" rel='noreferrer'>
		<img src="static/img/content/facebook.svg" alt="socio">
	</a></li>
	<li><a href="https://www.instagram.com/dimakovpak/" target="_blank" rel='noreferrer'>
		<img src="static/img/content/instagram.svg" alt="socio">
	</a></li>
	<li><a href="https://www.youtube.com/user/KovpakDima" target="_blank" rel='noreferrer'>
		<img src="static/img/content/youtube.svg" alt="socio">
	</a></li>
</ul>
